<p><span class="glyphicon glyphicon-warning-sign"></span> You don't have your own folder in our system yet. In order to <strong>upload your own files</strong>, create your user folder by clicking below. It will get the name of your Maniaplanet login.</p>
<form method="post" action="{{ app.request.uri }}" class="form-inline">
    <input type="hidden" name="createuserfolder" value="DevWasSitting24HoursInABusAndHadMuchTimeForThis" />
    <button type="submit" class="btn btn-default">Create</button>
</form>
