{# templates/home.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}ManiaCDN Uploader Privacy{% endblock %}
{% block body %}
<div class="container">
<p>
    Notice to any lawyer who is reading this: please keep in mind we provide a 
    free, non-profit service and we are lacking financial means to consult
    a professional lawyer. We have written this privacy policy with care and
    tried to be as compliant to the GDPR as possible.
</p>

<h2>Cookie Policy for ManiaCDN</h2>

<h3>What Are Cookies</h3>
<p>
    As is common practice with almost all professional websites this site uses
    cookies, which are tiny files that are downloaded to your computer, to improve
    your experience. This page describes what information they gather, how we
    use it and why we sometimes need to store these cookies. We will also share
    how you can prevent these cookies from being stored however this may downgrade
    or 'break' certain elements of the sites functionality.
</p>
<p>
    For more general information on cookies see the Wikipedia article on HTTP Cookies.<br />
</p>

<h3>How We Use Cookies</h3>
<p>
    We use cookies for a variety of reasons detailed below. Unfortunately in most
    cases there are no industry standard options for disabling cookies without
    completely disabling the functionality and features they add to this site.
    It is recommended that you leave on all cookies if you are not sure whether
    you need them or not in case they are used to provide a service that you use.
</p>

<h3>Disabling Cookies</h3>
<p>
    You can prevent the setting of cookies by adjusting the settings on your
    browser (see your browser Help for how to do this). Be aware that disabling
    cookies will affect the functionality of this and many other websites that 
    you visit. Disabling cookies will usually result in also disabling certain 
    functionality and features of the this site. Therefore it is recommended that 
    you do not disable cookies.
</p>

<h3>The Cookies We Set</h3>
<p>
    We use cookies when you are logged in so that we can remember this fact.
    This prevents you from having to log in every single time you visit a new
    page. These cookies are typically removed or cleared when you log out to
    ensure that you can only access restricted features and areas when logged in.
</p>

<h3>More Information</h3>
<p>
    Hopefully that has clarified things for you and as was previously mentioned
    if there is something that you aren't sure whether you need or not it's usually
    safer to leave cookies enabled in case it does interact with one of the
    features you use on our site. However if you are still looking for more
    information then you can contact us through one of our preferred contact
    methods.
</p>


<h2>Other data we collect and why</h2>
<h3>Maniaplanet Account data</h3>
<p>
    We store the login, nickname and email address linked to your Maniaplanet account.
    The login is used as a general identifier, the nickname helps us to recognize
    you as a player and the email is used for notifications when we have approved
    your upload. Also we will contact you in case we face other issues with your
    uploaded content, e.g. when we receive a DMCA complaint. Therefore, we can't
    offer you an opt-out possibility.
</p>

<h3>Uploaded files</h3>
<p>
    When you upload files, these may contain your personal data. It is your duty
    to make sure none of your data is made publicly available through your uploads.
    Specially we would like to make your aware of EXIF meta data in photographs.
    For example your phone might have stored the location coordinates inside the
    file. Also be careful when uploading text files; make sure they don't contain
    personal data and passwords.
</p>
<p>
    Your uploaded files are distributed over a couple of servers (mirroring),
    as it is the nature of a CDN (content delivery network). We do this in order
    to share the load among a group of servers. These mirror-servers are owned by
    third-parties and are not under our control.
    You can find a list of third party servers <a href="https://about.maniacdn.net/">here</a>.
</p>

<h3>Server logfiles</h3>
<p>
   Like all modern web servers, also ours collects log data in order to investigate
   attacks against our network. The data we collect is:
</p>
<ul>
    <li>Browser type and version</li>
    <li>Used operating system</li>
    <li>Referrer URL</li>
    <li>Host name</li>
    <li>Time and date of the request</li>
    <li>IP-Address</li>
</ul>
<p>
    Please note that again, the mirror-servers might collect different server logs.
    These are not under our control.
</p>


<h2>Deletion of your personal data</h2>
<p>
    You can ask us at any time to remove your data from our servers. Please
    write us an email to info [at] maniacdn [dot] net.
</p>
https://about.maniacdn.net/
</div>
{% endblock %}