{% extends 'base.html.twig' %}

{% block title %}Browse in {{path}}{% endblock %}

{% block body %}

<!-- banned notification -->
{% if is_granted('ROLE_BANNED') %}
<div class="alert alert-warning">
    <strong>You're banned</strong> from uploading or modifying files on ManiaCDN. If there is any question, please kindly contact info@maniacdn.net. 
</div>
{% endif  %}

<!-- uploader -->
{% include 'browse/components/upload.html.twig' %}

<!-- create new folder -->
{% include 'browse/components/newfolder.html.twig' %}

<!-- header for the browser (parent folder, own folder, other buttons) -->
{% include 'browse/components/browser_header.html.twig' %}
<br>
<br>

<!-- filebrowser (table) -->
{% include 'browse/components/browser.html.twig' %}
{% endblock %}
