{% if path.isWritableBy(app.user) %}
    <form method="post" action="{{ app.request.uri }}" class="form-inline">
        <div class="form-group">
            <input type="hidden" name="token" value="{{ csrf_token('browse_newfolder') }}" />
            <label for="newdir">Create Folder: </label>
            <input name="newdir" type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-default">Create</button>
    </form>
    <br>
{% endif %}