<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">The following content is not allowed</h3>
    </div>
    <div class="panel-body">
        <p>As stated in the instructions, we review files before they are publicly accessible. Though, please save us the work of rejecting copyrighted content</p>
        <ul>
            <li>Child pornography and other content related to child exploitation</li>
            <li>Content promoting racism or violence or any other criminal activities</li>
            <li>Content which violates third party <b>copyrights</b></li>
            <li>Content which is not related to the videogames ManiaPlanet or TrackMania</li>
        </ul>
    </div>
</div>
