<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Instructions and information</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li>The usage of this service is completely FREE of charge. We are financed by donations and not earning any money with this service. Please respect this whenever we take a bit too long to approve content.</li>
            <li>Maximum size per file is 512MB. Overall size and amount of files is fair use.</li>
            <li>We check all files before they are distributed over the network. If a file does not comply with these rules, we will reject it.</li>
            <li>You will receive a notification by email, when we reviewed your upload. Usually the review takes maximum one day.</li>
            <li>Think about folder structure and filenames <u>before</u> you upload! Renaming is currently not possible!</li>
            <li>You need a Maniaplanet v4 account to browse and upload files.</li>
        </ul>
    </div>
</div>
